body{
font-family:'Julius Sans One', sans-serif;color: #FFF;
  background: #BB8FD3;
}

.content{
}

.header{
  font-family: 'Julius Sans One', sans-serif;color: #FCEDA6;font-size: 400%;
  text-align:center;
  background: #93AE5D;
  padding: .02em;
  /*margin-top:0;*/
}

.subheader{
  font-size:150%;color: #FCEDA6;
  background: #D8F4A1; /*#6E971D;*/
  padding: 7px;
  word-spacing: 15px;
}

.blog{
  color: #69467D;
  float: left;
  width:65%;
  position:relative;
  left:20px;
  padding: 0px;
  
}

.sidebar{
  background: #93AE5D;
  font-size:100%; color: #FCEDA6;
  padding-left: 10px;
  float: right;
  width: 30%;
}

.sidebar_p{
  position:relative;
  left:15px;
}
.about{
  font-size: 50%;
}