body{
  font-family: 'Julius Sans One', sans-serif;color: #FFF;font-size: 200%;
  text-align: center;
  background: #93AE5D;
  
}
.name{
font-weight: 700;
  
}
.tagline{
  font-family: 'Englebert',sans-serif;font-size:75%; color: #69467D;
  overflow:auto;
}
.pictures{
  margin-top: 15px;
  text-align: center;
  width="70" height="70";
}